.cadastro-container {
  max-width: 400px;
  margin: 80px auto;
  background-color: #39ca6a;
  padding: 30px;
  border-radius: 10px;
 
}

.cadastro-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.cadastro-form {
  display: flex;
  flex-direction: column;
}

.cadastro-form label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #ffffff;
}

.cadastro-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
}

.cadastro-form input:focus {
  outline: none;
  border-color: #2e7d32;
}

.cadastro-form button {
  margin-top: 15px;
  padding: 10px;
  background-color:#37c03c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cadastro-form button:hover {
  background-color: #14ff20;
}

input, textarea {
  background-color: #ffffff;
  color: #000000;
}
